@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

html,
#__next,
body {
  background-color: #2c62af !important;
  padding: 0;
  color: white !important;
  font-family: Quicksand !important;
  font-weight: 300 !important;
  height: 100% !important;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
